{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "transform-decorators-legacy",
    [
      "transform-class-properties", { "loose": true }
    ]
  ]
}
