<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
  </head>
  <body>
    <Bugs/>
    <script src="//${out.global.req ? out.global.req.hostname : window.location.hostname}:3001/static/bundle.js"></script>
  </body>
</html>